<%= javascript_pack_tag 'application' %>
<h2>WELCOME TO PRODUCT EXPIRY MANAGER</h2>

<p>This tool helps you keep a track of the expiry of products on your shelf. Stay Healthy..!!</p>
<%= react_component 'Main'%>
